@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: none;
  margin: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #2d2672;
}


.viewBox {
  transition: all 500ms;
  background-color: #2d2672;
}

.header {
  height : 100px;
  background-color: #2d2672;
  z-index: 100;
}

.heroImage {
  background-image: url('./assets/BG-Polyygon-1.png');
  object-fit: cover;
}

.padding-top {
  padding-top: 120px;
}

.blue-space {
  height : 100px;
  background-color: #4e44ab;
}

.white-space {
  height : 100px;
  background-color: #f4f4f4;
}

.bg-blue {
  background-color: #4e44ab;
}

a {
  color : #f4f4f4;
}

.hero-text {
  text-shadow: 2px 2px 8px #111;
}

.shadow {
  box-shadow: 2px 4px 8px #333333;
}

.hero-mini-text {
  text-shadow: 4px 2px 4px #111;
}

::-webkit-scrollbar {
  width: 4px;
  height: 5px;
  background-color: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background-color: #acacac;
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fb923c;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}


/* @layer base {
  a {
    font-family: 'Catamaran', sans-serif;
  }
} */