@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

* {
  padding: none;
  margin: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  /* background-color: #f4f4f4; */
  /* background-color: #4e44ab; */
  /* background-color: #1f1a4d; */
  background-color: #1f1a4d;
}

.viewBox {
  transition: all 500ms;
  background-color: #2d2672;
}

.header {
  height : 100px;
  /* border-bottom-left-radius: 10px ;
  border-bottom-right-radius: 5px ; */
  /* background-color: #4e44ab; */
  background-color: #2d2672;
  z-index: 100;
  /* background-color: #2c3c85; */
  /* background-color: #1f1a4d; */
}

.blue-space {
  height : 100px;
  background-color: #4e44ab;
}

.white-space {
  height : 100px;
  background-color: #f4f4f4;
}

.bg-blue {
  background-color: #4e44ab;
}

a {
  color : #f4f4f4;
}

.hero-text {
  text-shadow: 2px 2px 8px #111;
}

::-webkit-scrollbar {
  width: 4px;
  height: 5px;
  background-color: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  background-color: #acacac;
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fb923c;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}


/* @layer base {
  a {
    font-family: 'Catamaran', sans-serif;
  }
} */